.header > h1{
    font-size: 40px;
    font-family: "poppins";
    padding-left: 20px;
}
.header > p{
    font-family: "poppins";
    font-weight: bold;
    color: #6a6b6c;
    padding-left: 20px;
}
.Option{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    justify-content: end;
}
.Option > div{
    /* border: 2px solid black; */
    box-sizing: border-box;
    /* position: absolute; */
}
.sorttag{
    width: 10%;
    height: auto;
}
.sorttag p{
    font-size:large;
   text-align: center;
   margin-top: 6px;
   font-family: "poppins";

}
.option{
    width: 15%;

}
#sort{
    width: 100%;
    height: 38px;
    padding: 2px 15px 2px 15px;
    font-family: "poppins";
}

#product_box{
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    display: flex;
}
/* #product_box > div{
    border: 2px solid red;
} */
#color{
    width: 20%;
    height: 700px;
    padding: 0px 10px 0px 10px;
    overflow: scroll;
    position: absolute;
    /* margin-top: 30px; */

}
#color >div{
    margin-top:10px;
}
#container{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
    row-gap: 20px;
    padding: 10px 40px 10px 40px;
    margin-left: 21%;
    
}
#container > div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
img{
    width: 350px;
    height: 400px;
    /* border: 1px solid black; */
}
.rat{
    padding-left: 10px;
}
.nam{
    padding-left: 10px;
    color:#f30b3d;
    font-weight: bold;
    font-size: 18px;
    font-family: "poppins";
}
.tit{
    padding-left: 10px;
    color: #6a6b6c;
    font-family: "poppins";
}
.bt{
    /* display: inline; */
    background-color: teal;
    color: white;
    height: 40px;
    padding: 8px 15px 8px 15px;
    margin-bottom: 10px;
    /* margin-left: 30%; */
    border-radius: 8px;
    font-weight: bold;
    border: none;
    font-family: "poppins";
    transition: all 0.3s ease;
}
.bt:hover{
    background-color: #fc6486;
}
.button{
    background-color: teal;
    color: white;
    height: 40px;
    padding: 8px 15px 8px 15px;
    margin-bottom: 10px;
    /* margin-left: 25%; */
    border-radius:8px;
    font-weight: bold;
    border: none;
    font-family: "poppins";
    transition: all 0.3s ease;
}
.button:hover{
background-color: #fc6486;
}
.boxer{
    display: flex;
    justify-content: space-evenly;
/* border: 2px solid black; */
padding: 10px;
}
#topsection {

    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 400px;
    max-width: 220px;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 0 0 0 0;
    
    
    }

    #topsection>div {
        color: black;
        border-bottom: 1px solid grey;
        padding: 5px;
    }
    #topsection>div>h2 {
        color: #fc6486;
        font-size: 24px;
    }
    .list-choice {
        width: 220px;
        margin: auto;
        position: relative;
        cursor: pointer;
        font-family: 'lato';
        font-size: 13.28px;
        box-sizing: border-box solid;
    }
    .list-choice div{
        font-size: 20px;
        font-weight: bold;
    }
    .list-choice-title {
        width: 100%;
        display: block;
        background: none;
        text-align: left;
        padding: 0 1em 0 0;
        box-sizing: border-box;
        color: black;
        text-shadow: none;
        border-radius: 0.2em;
        font-family: 'lato';
        font-size: 13.28px;
        box-sizing: border-box solid;
    }
    .list-choice input[type="radio"] + span {
        color: black;
        background: white;
        width: 220px;
        padding: 0;
        display: block;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
        font-family: 'lato';
        font-size: 13.28px;
        box-sizing: border-box solid;
    }  
    .list-choice input[type="radio"] {
        position: absolute;
        left: -9999px;
        font-family: 'lato';
        font-size: 13.28px;
    } 
    /* * {
        box-sizing: border-box;
        font-size: 11PX;
        font-weight: 600;
        margin: 0;
        padding: 0;
        line-height: 38px;
        color: #323232;
        font-family: 'Lato';
    }  */
    #topsection>div>h3 {
        cursor: pointer;
        font-size: 13.28px;
    }
    .list-choice:hover .list-choice-objects input[type="radio"] + span {
        position: relative;
        transition: all 250ms ease-in-out;
    }
    .list-choice:hover input[type="radio"]:checked + span {
        border-radius: 0;
    }
    .list-choice:hover input[type="radio"]:checked + span:hover {
        background: none;
    }

    .list-choice:hover .list-choice-objects  input[type="radio"] + span {
        position: relative;
        
        transition: all 250ms ease-in-out;
        }
        .list-choice:hover input[type="radio"] + span:hover {
        background: rgb(231, 228, 228);
        }
        .list-choice:hover input[type="radio"]:checked + span:hover {
        background:none;
        }
        .list-choice input[type="radio"]:checked + span {
        background: none;
        position: absolute;
        
        border-radius: 0.2em;
        }
        .list-choice:hover input[type="radio"]:checked + span {
        border-radius: 0;
        }
        .list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
        border-radius:0 0 0.2em 0.2em;
        }
        
        .list-choice:hover .list-choice-objects {
        max-height: 540px;
        }    
        
        select.minimal:focus {
            background-image:
            linear-gradient(45deg, transparent 100%),
            linear-gradient(135deg, transparent 100%, ),
            linear-gradient(to right);
            background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
            background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
            background-repeat: no-repeat;
            border-color: none;
            outline: 0;
        }