.a img{
    height: 50px;
    margin-top: 9px ;
    padding-left: 15px;
    width: 80%;
}

.top_box{
   width: 100%;
   height: 20px;display: flex;
   /* border: 2px solid black; */
}
.top_box > div{
   width: 3%;
   height: auto;
   /* border: 2px solid red; */
}
.top_box > div > img{
   width: 70%;
   height: 100%;
   margin-top: 8px;
   border-radius: 100%;
   margin-bottom: 5px;
   padding: 0px 2px 0px 2px;
}

#navbar > #subbox > div > img{
   width: 100%;
   height: 60px;
   object-position:bottom;
}
#subbox{
   width: 20%;
   display: flex;
   margin-left: 10px;
   justify-content: space-between;
   /* border: 2px solid greenyellow; */
}
#subbox > div{
   width: 100%;
   /* border: 2px solid blue; */
}
#subbox >.a> img{
   margin-top: 1px;
   width: 100%;
   height: auto;
}
#navbar{
   margin: auto;
   margin-top: 10px;
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: space-between;
   /* border: 2px solid black; */
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   position: relative;
   
}
#search{
   width: 60%;
   height: 35px;
   margin-top: 15px;
   margin-left: -15px;
   position: relative;
   border-radius: 5px;
   font-family: "poppins";
   /* text-align: center; */
   padding-left: 15px;
   
}

#navbar > #account{
   /* border: 2px solid red; */
   width: 15%;
   height: 35px;
}
#account {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin-top: 15px;
   margin-left: -15px;
   margin-right: 6px;
   position: relative;
   align-items: center;

}
#account > div{
   width: 25%;
   /* border: 2px solid black; */
}
i{
   font-size: 30px;
   color: black;
   text-align: auto;
   transition: all 0.3s ease;
}
#icon{
   margin: auto;
   font-family: "poppins";
   font-size: smaller;
   /* background-color: white; */
   
}
i:hover{
   color: #fc6486;
   
}
#account > #icon > a{
   text-decoration: none;
   color: black;
}
/* #account > #icon > a:hover{
   color: #555555;
} */
#account #icon:hover .dropdown_menu{
   display: block;
   position: absolute;
   left: 0;
   top: 100%;
   width: 90%;
   margin-top: 10px;
   opacity: 1;
   visibility: visible;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, 
   rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#account #icon:hover .dropdown_menu ul{
   display: block;
   margin: 10px;
   width: 90%;
   opacity: 1;
   visibility: visible;
   font-family: "poppins";
   background-color: white;
}
#account #icon:hover .dropdown_menu ul li{
   width: 200px;
   padding: 5px;
   width: 90%;
   opacity: 1;
   visibility: visible;
   font-family: "poppins";

}
#account #icon:hover .dropdown_menu ul li a{
   text-decoration: none;
   color: black;
   font-family: "poppins";
}

.dropdown_menu{
   opacity: 0;
   visibility: hidden;
}
.dropdown_menu ul{
   opacity: 0;
   visibility: hidden;
}
.dropdown_menu ul li{
   opacity: 0;
   visibility: hidden;
}


#account #icon:hover .dropdown_list{
   display: block;
   position: absolute;
   left: 0;
   top: 100%;
   width: 90%;
   margin-top: 10px;
   opacity: 1;
   visibility: visible;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, 
   rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#account #icon:hover .dropdown_list ul{
   display: block;
   margin: 10px;
   width: 90%;
   opacity: 5;
   
   visibility: visible;
}
#account #icon:hover .dropdown_list ul li{
   width: 200px;
   padding: 5px;
   width: 90%;
   opacity: 1;
   visibility: visible;
   font-family: "poppins";

}
#account #icon:hover .dropdown_list ul li a{
   text-decoration: none;
   color:black;
   font-family: "poppins";
}

.dropdown_list{
   opacity: 0;
   visibility: hidden;
}
.dropdown_list ul{
   opacity: 0;
   visibility: hidden;
}
.dropdown_list ul li{
   opacity: 0;
   visibility: hidden;
}


/* <--------BootStrap--------> */

.Container{
   /* border: 2px solid black; */
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,  
   rgba(0, 0, 0, 0.23) 0px 3px 6px;
   width: 100%;
   /* margin-left: 5px; */
   margin-top: -20px;
   
}
.header{
   display: block;
   width: 100%;
   position: relative;
   z-index: 99;
   padding: 25px;
}
.row{
   display: flex;
   flex-wrap:wrap ;
}
.v-center{
   align-items: center;
}
.header .item-center{
   flex: 0 0 66%;
}
ul{
   list-style: none;
   margin: 0;
   padding: 0;
   /* display: flex;
   justify-content: space-evenly; */
}
.header .menu > ul > li{
   display: inline-flex;
   line-height: 50px;
   margin-left: 5px;
   margin-right: 15px;
}
.header .menu > ul >li > a{
   font-size: small;
   font-weight: bold;
   color: black;
   position: relative;
   font-family: "poppins";
   text-decoration: none;
   text-transform: capitalize;
   transition: color 0.3s ease;
   justify-content: space-evenly;
   display: inline-flex;
   /* text-align: center; */
}
.header .menu > ul >li:hover > a{
   color: #ea4636;
}
.header .menu > ul >li .sub-menu > .list-item >ul > li{
   line-height: 1;
   display: block;
}
.header .menu > ul >li .sub-menu > .list-item >ul > li >a{
   padding: 5px 0;
   display: inline-block ;
   text-decoration: none;
   font-size: smaller;
   color: #555555;
   transition: color 0.3s ease;
}
.header .menu > ul >li .sub-menu{
   position: absolute;
   z-index: 500;
   box-shadow: -2px 2px 70px -25px rgb(0, 0,0,0.3);
   padding: 5px 5px;
   transition: all 0.5s ease;
   margin-top: 25px;
   opacity: 0;
   visibility: hidden;
   left: 50%;
   transform: translateX(-60%);
}
.header .menu > ul >li.menu-item:hover .sub-menu{
   margin: 0;
   visibility: visible;
   opacity: 1;
   background-color: white;

}
.header .menu > ul >li .sub-menu > ul >li{
   line-height: 1;
}
.header .menu > ul >li .sub-menu >ul >li >a{
   display: inline-block;
   text-decoration: none;
   padding: 10px 0px ;
   font-size: small;
   color: #555555;
   transition: color 0.3s ease;
}
.header .menu > ul >li .single-col{
   min-width: 1100px;
   width: 60%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: auto;
   gap: 5px;
   padding: 10px 5px;
}
.header .menu > ul >li .single-col > .list-item{
   flex: 0 0 25%;
   padding: 0 15px;
}
.header .menu > ul >li .single-col > .list-item img{
   max-width: 100%;
   width: 100%;
   vertical-align:top;
}
.header .menu > ul >li .single-col > .list-item .title{
   font-size:small;
   font-weight: bold;
   color: black;
   line-height: 1;
   padding: 10px 0;
}
/* .header .menu > ul >li .sub-menu >ul >li >a:hover,{

} */


/* <---------media----------> */

@media all and (min-width: 600px) and (max-width: 1200px) {
   
}

@media all and (min-width: 80px) and (max-width: 600px){

}