* {
    font-family: Helvetica, Arial, sans-serif;
}


#wrapper {
    width: 70%;
    height: 500px;
    margin: auto;
    /* border: 1px solid black; */
}

#firstDiv {
    width: 100%;
    border-bottom: 1px solid #DADCDF;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bolder;
}

#logoImage {
    width: 20%;
}

#checkout {
    width: 20%;
    display: flex;
    align-items: center;
}

#account {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


#mainPaymentDiv {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}


#shippingDetails {
    width: 65%;
    height: auto;
    /* border: 1px solid blue; */
}


legend{
    width: auto;
    /* padding: 2px; */
    margin-left: calc(50% - 35px - 2px);
}

fieldset {
    border: 1px solid #DADCDF;
}

fieldset > div {
    /* border: 1px solid teal; */
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#paypal {
    width: 45%;
    /* height: 100%; */
    padding: 5px;
    border-radius: 5px;
    background-color: #FFC439;
    border: none;

}

#paypalCredit {
    width: 45%;
    /* height: auto; */
    padding: 5px;
    border-radius: 5px;
    background-color: #003087;
    border: none;
}



#or {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#or > div:nth-child(1) {
    width: 48%;
    height: 0;
    border: 1px solid #DADCDF;
}

#or > div:nth-child(3) {
    width: 48%;
    height: 0;
    box-sizing: border-box;
    border: 1px solid #DADCDF;
}

#or > p {
    width: 4%;
    /* border: 1px solid #DADCDF; */
    text-align: center;
}


#productDetails {
    width: 30%;
    height: auto;
    /* border: 1px solid #DADCDF; */
}

#totalDiv {
    width: 100%;
    height: auto;
    border: 1px solid #DADCDF;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 20px;
}

#totalDiv > div {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    font-size: 14px;
    font-weight: bolder;
    align-items: center;
    width: 100%;
    height: 25px;
    
}

#totalDiv > div:nth-child(3) {
    font-size: 20px;
    margin-bottom: 15px;
}

#totalDiv > div:nth-child(2) > p:nth-child(1) {
    font-weight: 300;
}

#checkoutBtn {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#shipping {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}

#shipping > h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
#firstName,#lastName,#address2,#city,#zip,#mobile {
    width: 45%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DADCDF;
    margin-bottom: 10px;
}

#address1 {
    width: 94%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DADCDF;
    margin-bottom: 10px;
}
#addressType,#state {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DADCDF;
}

/* Radio Buttons  */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: black;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* Radio Buttons */


#cardDetails {
    width: 50%;
    height: auto;
    padding: 20px;
    border: 1px solid #DADCDF;
    margin-bottom: 20px;
}

#cardNumber {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #DADCDF;
    border-radius: 5px;
    margin-bottom: 10px;
}

#cardDetails > div {
    display: flex;
    justify-content: space-between;
    
}

#month,#year,#cvv {
    width: 30%;
    padding: 10px 10px;
    border: 1px solid #DADCDF;
    border-radius: 5px;
}

#submit {
    width: 35%;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

/* reward section  */


#rewards {
    width: 100%;
    height: auto;
    border: 1px solid #DADCDF;
    margin-top: 20px;
}

#rewards > div:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #DADCDF;
    box-sizing: border-box;
    padding: 10px 15px;
}

#rewards > div:nth-child(2) {
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #F5F6F7;
    border-bottom: 1px solid #DADCDF;
}

#rewards > div:nth-child(2) > div {
    display: flex;
    justify-content: space-between;
}

#rewards > div:nth-child(3) > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /* padding: 0px 15px; */
    font-size: 14px;
}
 
#rewards > div:nth-child(3){
    padding: 0px 15px;
}
#join {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}


/* reward section  */

/* Back To Top  */

#btTop {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#upArrowBox {
    width: 10%;
    height: auto;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
}

#upArrowBox > div {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F6F7;
    /* border: 1px solid teal; */
}

.fa-angle-up {
    font-size: 30px;
}

/* Back to Top  */