#products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 30px;
    row-gap: 30px;
    font-size: 14px;
    justify-content: space-between;
    margin-left: 50px;
    width: 80%;
    /* border: 2px solid blue; */
    
}

img{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}

/* #topmost {
    margin-top: 50px;
} */
#main {
    margin-left: -40px;
    
}
#favbtn {
    border: none;
    background-color: none;
    background: none;
}
.p1 {
    /* margin-bottom: 8px; */
    font-weight: bold;
    color: #f30b3d;
    padding-top: 5px;
    padding-left: 10px;
}
/* #products > div {
    width: 24%;
    box-sizing: border-box;
} */

/* #products > div > img {
    width: 100%;
    height: 60%;
} */

#products > div > button {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    /* border: 1px solid black; */
}
#sidebar {
    height: 100%;
    width: 210px;
    /* border: 1px solid black; */
    margin-left: 10px;
    /* text-align: center; */
    padding: 40px 0px 20px 40px;
   
}
#user,#favorites,#lists {
    display: flex;
    margin-top: 20px;
}
#profile>div>img {
    height: 30px;
    width: 30px;
}
#favorites>img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-left: 10px;
}
#lists>img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-left: 10px;
}
p{
    margin-top: 2px;
    margin-right: 10px;

}
.p1{
    margin-top :2px;
    margin-left: 10px;
}
#profile {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: 180px;
    padding-left: 20px;
    padding-top: 20px;
    /* left: 5px; */
}
#editDiv {
    margin-bottom: 40px;
}
#editDiv>img {
    height: 20px;
    width: 20px;
}
#edit {
    border: none;
    background-color: none;
    background: none;
    /* border: 1px solid red; */

    /* margin-bottom: 10px; */
}
#profileForm {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
}
.input1 {
    width: 400px;
    height: 23px;
    margin-top: 15px;
}
hr {
    width: 1200px;
    margin-right: 500px;
}
#bio {
    width: 400px;
    margin-top: 15px;
    min-height: 80px;
    /* text-justify: initial; */
}
#cancel {
    width: 130px;
    height: 30px;
    border: 0.5px solid gray;
    color: rgb(91, 82, 82);
}
#save {
    width: 130px;
    height: 30px;
    background-color: #43474a;
    border-radius: 3px;
    color: white;
    margin-top: 50px;
    border: none;
}
#userForm {
    margin-left: 100px;
 }

 .rat{
    padding-left: 10px;
}
.nam{
    padding-left: 10px;
    color:#f30b3d;
    font-weight: bold;
    font-size: 18px;
    font-family: "poppins";
}
.tit{
    padding-left: 10px;
    color: #6a6b6c;
    font-family: "poppins";
}
#product {
    border: 1px solid red;
}